<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="英文原版绘本,英语绘本,中文绘本,儿童图书馆,线上英语课堂">
    <title>狗蛋书馆</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
	<script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    

    <style type="text/css">
        .navbar .nav > li .dropdown-menu {
        margin: 0;
        }
        .navbar .nav > li:hover .dropdown-menu {
        display: block;
        }
        #footer{
            font-size: 12px;
        }

	</style>
    <script type="text/javascript">
        $(document).ready(function(){
            var bookitem ={{bookitem|safe}};
            //book img
            console.log('log:',bookitem[0].fields.image_bg);
            imgsrc='/static/'+bookitem[0].fields.image_bg;
            $('#bookimg').attr('src',imgsrc);
            //book name
            $('#bookname').text(bookitem[0].fields.bookname);
            $('#bookname').css({'font-size':'25px','color':'#9370DB','margin-top':'20px'});
            //author
            $('#author').text('作者:'+bookitem[0].fields.author);
            //publisher
            $('#publisher').text('出版社:'+bookitem[0].fields.publisher);
            //publishdate
            $('#publishdate').text('出版时间:'+bookitem[0].fields.publish_date);
            //description
            $('#description').text(bookitem[0].fields.description);
        })
    </script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 col-xs-12 column" style="margin:auto;">
			<img src=" " id="bookimg" alt="350*350">
		</div>
		<div class="col-md-8 col-xs-12 column" style="border-style: solid;border-width: 1px;border-color: lightgrey">
			<p id="bookname"></p>
			<p id="author"></p>
            <p id="publisher"></p>
            <p id="publishdate"></p>
            <p style="font-weight: bold;">简介</p>
            <p id="description"></p>

		</div>
	</div>
	<div class="row clearfix" style="margin:auto;margin-top: 15px;">
		<div class="col-md-12 column">
            <a class="btn-lg btn-primary" href="#" style="margin-right: 25px;">加入借书架</a>
            <a class="btn-lg btn-success" href="#">收藏</a>
		</div>
	</div>
</div>
</body>
</html>