<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <style>
		#header {
    		background-color:black;
    		color:white;
    		text-align:center;
    		padding:5px;
		}
		#nav {
    		line-height:30px;
    		background-color:#eeeeee;
    		height:300px;
		    width:100px;
		    float:left;
		    padding:5px; 
		}
		#section {
		    width:350px;
		    float:left;
		    padding:10px; 
		}
		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		    padding:5px; 
		}
	</style>
</head>
<body>
<div id="section">
{% if user.username %}
    <h1>Welcome {{ user.username }}!</h1>
{% else %}
    <h1>Welcome 游客!</h1>
{% endif %}
<br>
{% if user.is_authenticated %}
<a href="http://127.0.0.1:8000/mylibrary/logout">注销</a>
<br>
{% else %}
<a href="http://127.0.0.1:8000/mylibrary/login">登录</a>
<br>
<a href="http://127.0.0.1:8000/mylibrary/register">注册</a>
{% endif %}
</div>
</body>
</html>
