<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>读者注册</title>
    <style>
        span {
	        font-weight:bold;
	        color:#ff9955;
	    }
        p {
	        font-weight:bold;
	        color:darkblue;
	    }

    </style>
</head>
<body>
<h1 style="color: red">读者注册</h1>
<hr />
    <form action="/mylibrary/register/" method = "POST">
        {% csrf_token %}
        <p>&nbsp&nbsp用户名:{{ rf.username }}<span>{{ errors.username }}</span></p>
        <p>&nbsp&nbsp&nbsp&nbsp密码:{{ rf.password }}<span>{{ errors.password }}</span></p>
        <p>密码确认:{{ rf.password_again }}<span>{{ errors.password_again }}</span></p>
        <p>&nbsp&nbsp&nbsp&nbsp邮箱:{{ rf.email }}<span>{{ errors.email }}</span></p>
        <p>&nbsp&nbsp验证码:{{ rf.captcha }}<span>{{ errors.captcha }}</span></p>
        <input type="submit" name="register" value="注册" style="width:70px;height:30px; font-size:20px; color: red">
    </form>
    <br/><br/>
    <span>已有账号?<a href="/mylibrary/login/">直接登陆</a></span>
</body>
</html>
