<!DOCTYPE html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>登陆</title>
	<style type="text/css">
		body,html{
			height: 100%
		}
		.container{
			height: 100%;
			background: #F8F8FF;
		}
		.row{
			background: #F8F8FF;
			margin-bottom: 10px;
			word-wrap:break-word
			/*padding:0 0 0 20px;*/
		}
		.a{
			font-size: 12px;
			color: red;
		}
	</style>
</head>

<body>
  <div class="container">
    <legend>登陆</legend>
    <form class="bs-example bs-example-form" role="form" action="/login/" method="POST">
    	{% csrf_token %}
        <div class="row" style="margin:0px 25px 15px 5px"> 
          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-md" style="cursor:Default" \>
                  <span class="glyphicon glyphicon-user"></span>
                </button>
              </span>
              <input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入手机号">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-8">
            <span id="tips_mobile" style="color:red; font-size: 12px;"></span>
          </div>
        </div><!-- /row -->
        <div class="row" style="margin:0px 25px 25px 5px">
          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-md" style="cursor:Default">
                  <span class="glyphicon glyphicon-lock"></span>
                </button>
              </span>
              <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-8">
            <span id="tips_password" style="color:red; font-size: 12px;vertical-align:bottom;">{{error}}</span>
          </div>
        </div><!-- /row -->

        <div class="row" style="margin:10px 35px 25px 20px">
            <button id="submit" class="btn btn-primary">登陆</button>
        </div>
        <a href="/register/" style="padding-left: 25px">还没有账号?</a>
        <a href="/forgetpsw/" style="padding-left: 25px">忘记密码</a>

    </form>
  </div>

<script type="text/javascript">
	function isMobile(str){  
		var myreg=/(^1[3|4|5|7|8]\d{9}$)/;  
		if (!myreg.test(str)){
			return false;  
		}
			return true;  
		}

    $(document).ready(function(){
    	{% if mobile %}
    		$('#mobile').val({{mobile}})
		{% endif %}
		$('#mobile').blur(function() {
			var mobile = $("#mobile").val();
			if (!isMobile(mobile)) 
			{
				$('#tips_mobile').html('<span style="font-size:12px;color:red">请填写正确的手机号码</span>');
				return false;
			}
			$.ajax({
				type: 'GET',
				url:"/checkrepeatmobile",
				data:{
					"mobile": mobile,
				},
				dataType: 'json',
				success: function(json) 
				{
					var result = json.result;
					if (result == 0) 
					{
		  				$('#tips_mobile').html('<span style="font-size:12px;color:red">号码不存在</font>');
					}
				},
			});

		})

		$('#password').blur(function(){
			var password=$('#password').val()
			if (!password.length)
			{
				$('#tips_password').html('<span style="font-size:12px;color:red">请输入密码</span>');
				return false;
			}
		})

		$('#mobile').focus(function() {
			$('#tips_mobile').html('');
		})

		$('#password').focus(function() {
			$('#tips_password').html('');
		})
		//submit前最后检查一次，不然无法提交
        $('#submit').click(function(){
            if(!isMobile($("#mobile").val()))
            {
                return false;
            }
            var password=$('#password').val()
            if(!password.length)
            {
                console.log('null password');
                return false;
            }
        })
	})
 
</script>

</body>
</html>
