*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    font: 20px/40px"microsoft yahei";
    color: black;
}
#container{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

#header,#footer{
    height: 12.5%;
    width: 100%;
    background: deeppink;
}
#main{
    height: 75%;
}
#center,#left,#right{
    height: 100%;
    float: left;
}
#center{
    width: 100%;
    background: #1fc195;
}
#left{
    background: lightgrey;
    width: 15%;
    margin-left: -100%;
}
#right{
    background: #2e6da4;
    width: 15%;
    margin-left: -15%;
}
#main-inner{
    padding-left: 15%;
}


